<app-background></app-background>
<div class="main-page">
  <div class="title">Get reviews of your <br />Steam games.</div>
  <div class="description">
    This tool allows anyone to analyze reviews of the games available on Steam,
    offering detailed insights into the players' experience. Get organized
    analyses in an Excel document, ideal for discover trends, identify games'
    strengths and weaknesses and make informed decisions based on real data.
  </div>
  <div class="get-started">
    <button class="get-started-btn" routerLink="/search-game">Get started</button>
  </div>
</div>
